@import '../../styles/styles.scss';

.swipeable-drawer {
  > .MuiPaper-root {
    width: 100%;
    overflow: hidden;
    @include min-device('tablet') {
      width: 50%;
      border-radius: $border-radius 0 0 0;
    }

    .container {
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
      overflow: hidden;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        position: sticky;
        top: 0;

        &.header-only-close {
          justify-content: flex-end;
        }

        .left-side {
          display: flex;
          column-gap: 10px;
          color: $main-color;

          .MuiSvgIcon-root, .MuiTypography-root {
            font-weight: 500;
            font-size: 18px;
          }

          .MuiSvgIcon-root {
            width: 1.3em;
            height: 1.3em;
          }
        }
      }

      .children {
        height: calc(100% - 50px);
        overflow: auto;
      }
    }
  }
}
