@mixin toggle-sidebar($open: true) {
    @if $open {
      width: $sidebar-open-width;
      transition: $open-transition;
    } @else {
      width: $sidebar-close-width;
      overflow-x: hidden;
      transition: $close-transition;
    }
}

@mixin reset-element-size() {
  width: 0;
  height: 0;
  padding: 0;
}
