@import '../../styles/styles.scss';

.header.MuiPaper-root {
  z-index: $header-zIndex;
  box-shadow: none;

  .toolbar {
    display: flex;
    justify-content: space-between;

    .right-side {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .input-field {
        height: $header-input-height;

        .MuiInput-input {
          @include toggle-input($open: false);
        }

        &:hover {
          border: 2px solid  rgb(174, 167, 241);
          border-radius: 15px;

          .MuiInput-input {
            @include toggle-input($open: true);
          }
        }
    
        .search-icon {
          padding: 6px;
          color: $main-color;
        }
      }

      .Mui-focused {
        border: 2px solid rgb(174, 167, 241);
        border-radius: 15px;

        .MuiInput-input {
          @include toggle-input($open: true);
        }
      }
    }
  }
}
