@import "../../styles/styles.scss";

$border-radius: 20px;

.sidebar {
  width: $sidebar-open-width;
  flex-shrink: 0;
  white-space: nowrap;

  .MuiPaper-root {
    border: none;
    z-index: $sidebar-zIndex;
    background-color: inherit;
    padding-left: 10px;
  }

  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: $border-radius $border-radius 0 0;
    background: url('/sidebar_background.jpg');
    color: white;

    .MuiListItemIcon-root {
      color: white;
    }

    .text-item {
      white-space: normal;
      height: 40%;
    }

    .text-item-close {
      align-items: flex-start;
      justify-content: center;
      padding: 0;

      .MuiListItemIcon-root {
        min-width: auto;
      }
    }

    .menu-item {
      border-radius: $border-radius;
      padding-top: 10px;
      padding-bottom: 10px;

      .MuiListItemText-root {
        margin-top: 0;
        margin-bottom: 0;
      }

      &:hover {
        background-color: white;
        color: $main-color;

        .MuiListItemIcon-root {
          color: $main-color;
        }
      }
    }
  }

  .sidebar-open {
    @include toggle-sidebar($open: true);
  }

  .sidebar-close {
    @include toggle-sidebar($open: false);
  }
}

.xs-sidebar {
  flex-shrink: 0;
  white-space: nowrap;

  .MuiPaper-root {
    border: none;
    z-index: $sidebar-zIndex;
    background-color: inherit;

    .xs-sidebar-container {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: $border-radius $border-radius 0 0;
      background: url('/sidebar_background.jpg');
      color: white;

      .MuiList-root {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;

        .MuiListItem-root {
          padding: 0;
          padding-top: 5px;
          padding-bottom: 5px;
          width: 50px;
          display: flex;
          justify-content: center;

          .MuiListItemIcon-root {
            min-width: auto;
          }
        }
      }
  
      .MuiListItemIcon-root {
        color: white;
      }
  
      .xs-menu-item {
        border-radius: $border-radius;
  
        &:hover {
          background-color: white;
          color: $main-color;
  
          .MuiListItemIcon-root {
            color: $main-color;
          }
        }
      }
    }
  }
}

.sidebar-open {
  @include toggle-sidebar($open: true);
}

.sidebar-close {
  @include toggle-sidebar($open: false);
}